html {
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: dimgrey;
}

.big {
  font-size: 100px;
  animation: size 5s forwards;
}
.home-title {
  text-align: center;
  margin-top: 200px;
  animation: colorChange 5s forwards;
  color: black;
}
@keyframes colorChange {
  from {color: white;}
  to {color: black;}
}

#motto {
  text-align: center;
}

nav > a {
  text-decoration: none;
  margin-left: 20px;
  color: black;
}
nav > strong {
  font-size: x-large;
  color: midnightblue;
}
nav > a:hover {
  color: white;
}
