html {
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: rgb(44,34,209);
}

.big {
  font-size: 100px;
  animation: size 5s forwards;
}
.home-title {
  text-align: center;
  margin-top: 200px;
  animation: colorChange 5s forwards;
  color: black;
}
@keyframes colorChange {
  from {color: white;}
  to {color: black;}
}

#motto {
  text-align: center;
}

.button-home {
  color: white;
  text-decoration: none;
  border: solid royalblue 4px;
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
}
.button-home:hover {
    animation: buttonBigger 1s forwards;
}
    @keyframes buttonBigger {
  0% {
    font-size: 20px;
  }
  50% {
    -webkit-animation-timing-function: steps(1, end);
    -moz-animation-timing-function: steps(1, end);
    -o-animation-timing-function: steps(1, end);
    animation-timing-function: steps(1, end);
    font-size: 20px;
  }
  100% {
    font-size: 20px;
  }
}
#buttons-home {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  color: white;
}
