body {
  font-family: 'Montserrat', sans-serif;
  background: rgb(44,34,209);
  background: linear-gradient(90deg, rgba(44,34,209,1) 0%, rgba(19,19,224,1) 28%, rgba(9,56,213,1) 43%, rgba(19,94,241,1) 72%, rgba(0,212,255,1) 100%);
}

.big {
  font-size: 300px;
  animation: size 5s forwards;
}
@keyframes size {
  0% {font-size: 300px;}
  50% {font-size: xxx-large;}
  100% {font-size: xxx-large;}
}

.home-title {
  text-align: center;
  margin-top: 200px;
  color: white;
  animation: colorChange 5s forwards;
}
@keyframes colorChange {
  from {color: white;}
  to {color: darkblue;}
}

#motto {
  animation: motto 5s forwards;
}
@keyframes motto {
  from {transform: translateX(0px)}
  to {transform: translateX(680px)}
}

.button-home {
  color: black;
  text-decoration: none;
  border: solid dodgerblue 4px;
  padding: 5px;
  border-radius: 10px;
  background-color: dimgrey;
  margin: 10px;
}
.button-home:hover {
  background-color: #cccccc;
}
#buttons-home {
  display: flex;
  align-items: center;
  justify-content: center;
}
